@font-face {
    font-family: Muli-Bold;
    src        : url(../fonts/Muli-Bold.ttf);
}

@font-face {
    font-family: Muli;
    src        : url(../fonts/Muli-Regular.woff);
}

@font-face {
    font-family: Muli-ExtraBold;
    src        : url(../fonts/Muli-ExtraBold.woff);
}

* {
    padding   : 0px;
    margin    : 0px;
    border    : 0px;
    box-sizing: border-box;
}

body {
    background: chartreuse;

}


/*<section class="smoothies">*/
.smoothies {
    background     : chartreuse;
    display        : flex;
    align-items    : center;
    justify-content: center;
    height         : 100vh;
}

.imagesmothies__pictures {

    display              : grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows       : 200px;
    grid-column-gap      : 2px;
    grid-row-gap         : 2px;
    background-color     : #f6edde;
}

.imagesmothies__item {
    width           : 240px;
    background-color: white;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : space-between;
}

.imagesmothies__img {
    margin-top: 24px;
}

.imagesmothies__caption {
    font-family   : Muli;
    font-size     : 25px;
    font-weight   : 800;
    letter-spacing: -0.5px;
    text-align    : center;
    color         : #f2612d;
    margin-bottom : 40px;
}


/* .smoothies {
    background-color: white;
    width: 100%;
    max-width: 1920px;
    height: 870px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smoothies__header {
    font-family: Muli;
    font-size: 50px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.8;
    letter-spacing: -1px;
    text-align: center;
    color: #f7ae3b;
    margin-top: 98px;
}

.smoothies__paragraph {
    margin-top: 55px;
    max-width: 958px;
    height: auto;
    padding: 0 20px;
    font-family: Muli;
    font-size: 18px;
    line-height: 1.94;
    text-align: center;
}

.imagesmothies__pictures {
    max-width: 966px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    background-color: #f6edde;
    margin-top: 50px;
}





*/