* {
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}
.block {
    width: 100%;
    max-width: 1600px;
    height: auto;
    background: cornflowerblue;
}
.block2 {
    width: 100%;
    max-width: 1600px;
    height: 500px;
    background: cornsilk;
}
.box {
    width: 100px;
    height: 100px;
    background: coral;
    margin: 50px auto;
}