* {
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}
.block {
    width: 100%;
    max-width: 1600px;
    height: auto;
    background: cornflowerblue;
    border: 1px solid green;
}
.block2 {
    width: 100%;
    max-width: 1600px;
    border: 1px solid red;
    background: cornsilk;
}
.box {
    width: 100px;
    height: 100px;
    background: rgb(206, 55, 0);
    margin: 50px auto;
}